body
{
    background: grey;
    /*padding: 2px;*/
}

a:link
{
    color: lightseagreen;
    font-weight: bold;
}

a:hover
{
    color:grey;
    text-shadow: 1px 1px 0px black;
}

.case200
{
    height: 200px;
}

.case300
{
    height: 300px;
}

.case400
{
    height: 400px;
}

iframe
{
    width: 100%;
    height: 100%;
}

.case400:hover .title
{
    display: inherit;
}

.case200:hover .title
{
    display: inherit;
}

.case300:hover .title
{
    display: inherit;
}

.title
{
    padding: 8px;
    padding-left: 20px;
    font: 20px sans-serif;
    font-weight: bold;
    color: deepskyblue;
    float: left;
    display: none;
    position:absolute;
}

.description
{
    position: relative;
    margin-top: 8px;
    font: 12px arial, sans-serif;
}

.description .delete
{
    height: 10%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.buttons
{
    clear: both;
    margin-top: 8px;
}

.button
{
    padding: 4px;
    font: 18px arial, sans-serif;
    float: left;
}

#keyStrikePreview {background: url("./images/keyStrike.png") no-repeat center; background-size: cover; }
#keyStrikeParent {}
#formesPreview {background: url("./images/forme5.png") no-repeat center; background-size: cover; }
#formesParent {}
#dialoguePreview {background: url("./images/ced_2015.png") no-repeat center; background-size: cover; }
#dialogueParent {}
#genetypePreview {background: url("./images/genetype.png") no-repeat center; background-size: cover; }
#genetypeParent {}
#installationsPreview {background: url("./images/installation.JPG") no-repeat center; background-size: cover; }
#installationsParent {}
#particleSystemPreview {background: url("./images/particleSystem.jpg") no-repeat center; background-size: cover; }
#particleSystemParent {}
